<tr class="{{error.get_row_classes(user)}}" data-errorid="{{ error.id }}" data-url="{{ route_url('error_view', project=selected_project.id, id=error.id) }}">
	{% block error_row %}
	<td class="occurences vmiddle">
		{% block left_cell %}
		<span class="dot"></span>
		<span class="count">{{ error.count|int }}</span>
		{% endblock %}
	</td>
	<td>
		{% block middle_cell %}
		<div class="error">
			{% if error.message %}
				{{ error.message }}
			{% else %}
				An unknown error has occurred
			{% endif %}
		</div>
		<div class="detail">
			{{ error.type }}
			{% if error.tags %}
				<i class="icon-tags tooltip-toggle" data-original-title="{% for tag in error.tags %}{{ tag }} {% endfor %}"></i>
			{% endif %}
		</div>
		{% endblock %}
	</td>
	<td title="First seen: {{ date(error.timefirst) }}" class="date vmiddle">
		{% block right_cell %}
		Last occured {{ date(error.timelatest) }}<br/>
		{% if error.claimedby %}
			<i class="icon-heart tooltip-toggle" data-original-title="Claimed by {{ error.claimedby.name }}"></i>
		{% endif %}
		{% if error.comments %}
			<i class="icon-comment tooltip-toggle"></i>{{ error.comments.__len__() }} comments
		{% endif %}
		{% endblock %}
	</td>
	{% endblock %}
</tr>
