<tr class="{{error.get_row_classes(user)}}" id="error-{{ error.id }}" data-errorid="{{ error.id }}" data-url="{{ route_url('error_view', project=selected_project.id, id=error.id) }}">
	{% block error_row %}
	<td class="occurances vmiddle">
		{% block left_cell %}
		<span class="dot"></span>
		<span class="count">{{ error.count|int }}</span>
		{% endblock %}
	</td>
	<td class="error">
		{% block middle_cell %}
		<div class="error">
			{% if error.message %}
				{{ error.message }}
			{% else %}
				An unknown error has occurred
			{% endif %}
		</div>
		<div class="detail">
			<span class="detail-type">{{ error.type }}</span>
			<span class="detail-tags">{% for tag in error.tags %}<span class="label label-{{ tag }}">{{ tag }}</span>{% endfor %}</span>
		</div>
		{% endblock %}
	</td>
	<td class="date tooltip-toggle" data-original-title="First seen: {{ date(error.timefirst) }}">
		{% block right_cell %}
		Last occured {{ date(error.timelatest) }}<br/>
		{% if error.claimedby and error.claimedby == user %}
			<span class="claimed-by"><i class="icon-star"></i>&nbsp;You</span>
		{% elif error.claimedby %}
			<span class="claimed-by"><i class="icon-star"></i>&nbsp;{{ error.claimedby.name }}</span>
		{% endif %}
		{% if error.comments %}
			<i class="icon-comment"></i>&nbsp;{{ error.comments.__len__() }} comments
		{% endif %}
		{% endblock %}
	</td>
	{% endblock %}
</tr>
