{% extends "layout/fluid.html" %}

{% block middlebar %}
<div class="search">
	<form action="{{ set_params({}) }}" method="get" id="errorlist-search">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-search"></i></span><input type="text" name="search" placeholder="message, type, user or tag" value="{{ search }}" class="searchfield span3" />
		</div>
	</form>
</div>

<ul id="error-tabs" class="nav nav-tabs" data-show="{{show}}">
	<li class="{{ switch(show=='open') }}" data-name="open">
		<a href="{{route_url('error_list', project=selected_project.id)}}">Open (<span class="count">{{counts.open}}</span>)</a>
	</li>
	<li class="{{ switch(show=='resolved') }}" data-name="resolved">
		<a href="{{route_url('error_list', project=selected_project.id)}}?show=resolved">Resolved (<span class="count">{{counts.resolved}}</span>)</a>
	</li>
	<li class="{{ switch(show=='mine') }}" data-name="mine">
		<a href="{{route_url('error_list', project=selected_project.id)}}?show=mine">Mine (<span class="count">{{counts.mine}}</span>)</a>
	</li>
</ul>
{% endblock %}


{% block content %}

<div id="information">

	<div class="btn-toolbar pull-left">
		<div class="btn-group">
			<a class="btn"><i class="icon-star"></i> Claim</a>
			<a class="btn"><i class="icon-ok"></i> Resolve</a>
			<a class="btn"><i class="icon-eye-open"></i> Mark as seen</a>
			<a class="btn"><i class="icon-eye-close"></i> Mark as unseen</a>
		</div>
	</div>

	<ul id="order-items" class="nav nav-pills pull-right" data-orderby="{{order_by}}">
		<li class="{{ switch(order_by=='date') }} {{direction}}" data-name="date">
			<a href="{{route_url('error_list', project=selected_project.id)}}?show={{show}}&order_by=date&direction={{direction}}">Date <i class="icon-white"></i></a>
		</li>
		<li class="{{ switch(order_by=='occurances') }} {{direction}}" data-name="occurances">
			<a href="{{route_url('error_list', project=selected_project.id)}}?show={{show}}&order_by=occurances&direction={{direction}}">Occurances <i class="icon-white"></i></a>
		</li>
		<li class="{{ switch(order_by=='activity') }} {{direction}}" data-name="activity">
			<a href="{{route_url('error_list', project=selected_project.id)}}?show={{show}}&order_by=activity&direction={{direction}}">Activity <i class="icon-white"></i></a>
		</li>
	</ul>
	<div style="clear: both;"></div>
	<div class="changes-info alert alert-info">
		There have been <span class="errcount"></span> changes to errors since you last reloaded. <a class="reload" href="">Click to reload</a>
	</div>
	<table class="error-list table">
		<tbody>
			{% include ['errors/list.html'] %}
		</tbody>

	</table>

	<div style="text-align:center;">
		<button id="loadmore" class="btn btn-large">
			<i class="icon-repeat"></i>
			Load more errors
		</button>
	</div>

</div>

{% endblock %}


{% block footer %}


<div class="pane-padding"></div>
<div class="pane tabbable tabs-below">

	<div class="pane-container tab-content">
		<div class="pane-inner">
		</div>
	</div>

	<ul class="pane-actions nav nav-tabs">
		<li data-view="summary"><a href="javascript:void(0);">Summary</a></li>
		<li data-view="backtrace"><a href="javascript:void(0);">Backtrace</a></li>
		<li data-view="context"><a href="javascript:void(0);">Context</a></li>
		<li data-view="similar"><a href="javascript:void(0);">Similar Errors</a></li>
		<li data-view="comments"><a href="javascript:void(0);">Comments</a></li>
	</ul>

</div>
{% endblock %}

