{% extends "layout/fluid.html" %}

{% block middlebar %}
<div class="search">
	<div class="input-prepend">
		<span class="add-on"><i class="icon-search"></i></span>
		<form action="{{ set_params({}) }}" method="get">
			<input type="text" name="search" placeholder="message, type, user" value="{{ search }}" class="span2" />
		</form>
	</div>
</div>

<ul id="error-tabs" class="nav nav-tabs" data-show="{{show}}">
	<li class="{{ switch(show=='open') }}" data-name="open">
		<a href="{{route_url('error_list', project=selected_project.id)}}">Open</a>
	</li>
	<li class="{{ switch(show=='resolved') }}" data-name="resolved"><a href="{{route_url('error_list', project=selected_project.id)}}?show=resolved">Resolved</a></li>
	<li class="{{ switch(show=='mine') }}" data-name="mine"><a href="{{route_url('error_list', project=selected_project.id)}}?show=mine">Mine</a></li>
</ul>
{% endblock %}

{% block navigation %}


{% endblock %}


{% block content %}

<div id="information">

	<ul id="order-items" class="nav nav-pills pull-right" data-orderby="{{order_by}}">
		<li class="{{ switch(order_by=='date') }} {{direction}}" data-name="date">
			<a href="{{route_url('error_list', project=selected_project.id)}}?show={{show}}&order_by=date&direction={{direction}}">Date <i class="icon-white"></i></a>
		</li>
		<li class="{{ switch(order_by=='occurances') }} {{direction}}" data-name="occurances">
			<a href="{{route_url('error_list', project=selected_project.id)}}?show={{show}}&order_by=occurances&direction={{direction}}">Occurances <i class="icon-white"></i></a>
		</li>
		<li class="{{ switch(order_by=='activity') }} {{direction}}" data-name="activity">
			<a href="{{route_url('error_list', project=selected_project.id)}}?show={{show}}&order_by=activity&direction={{direction}}">Activity <i class="icon-white"></i></a>
		</li>
	</ul>

	<table class="error-list table">
		<tbody>
			{% include ['errors/list.html'] %}
		</tbody>

	</table>

	{% include 'layout/paginator.html' %}

</div>

{% endblock %}
