{% extends "layout/fluid.html" %}

{% block middlebar %}
<div class="search">
	<div class="input-prepend">
		<span class="add-on"><i class="icon-search"></i></span>
		<form action="{{ set_params({}) }}" method="get">
			<input type="text" name="search" placeholder="message, type, user" value="{{ search }}" class="span2" />
		</form>
	</div>
</div>

<ul id="error-tabs" class="nav nav-tabs" data-show="{{show}}">
	<li class="open {{ switch(show=='open') }}">
		<a href="{{route_url('error_list', project=selected_project.id)}}" data-pjax="#information">Open</a>
	</li>
	<li class="resolved {{ switch(show=='resolved') }}"><a href="{{route_url('error_list', project=selected_project.id)}}?show=resolved" data-pjax="#information">Resolved</a></li>
	<li class="mine {{ switch(show=='mine') }}"><a href="{{route_url('error_list', project=selected_project.id)}}?show=mine" data-pjax="#information">Mine</a></li>
</ul>
{% endblock %}

{% block navigation %}


{% endblock %}


{% block content %}

<div id="information">

	<table class="error-list table">
		<tbody>
			{% for error in errors %}
				<tr class="{{error.get_row_classes(user)}}">
					<!-- <td class="center"><input type="checkbox" name="error[]"></td> -->
					<td class="occurences vmiddle">
						<span class="dot"></span>
						<span class="count">{{ error.count|int }}</span>
					</td>
					<td>
						<div class="error">
							{% if error.message %}
								{{ error.message }}
							{% else %}
								An unknown error has occurred
							{% endif %}
						</div>
						<div class="detail">
							{{ error.type }}
							{% if error.tags %}
								<i class="icon-tags tooltip-toggle" data-original-title="{% for tag in error.tags %}{{ tag }} {% endfor %}"></i>
							{% endif %}
						</div>
					</td>
					<td title="First seen: {{ date(error.timefirst) }}" class="date vmiddle">
						Last occured {{ date(error.timelatest) }}<br/>
						{% if error.claimedby %}
							<i class="icon-heart tooltip-toggle" data-original-title="Claimed by {{ error.claimedby.name }}"></i>
						{% endif %}
						{% if error.comments %}
							<i class="icon-comment tooltip-toggle"></i>{{ error.comments.__len__() }} comments
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

	{% include 'layout/paginator.html' %}

</div>

{% endblock %}
