/*
 * Personal Styles
 */

/*	Fixes
	------------------------------------------------------------ */

/* @url http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}

/*	Generic
	------------------------------------------------------------ */

body {
	background-color: #EEEEEE;
	padding: 20px 60px;
}

.vmiddle, td.vmiddle {
	vertical-align: middle;
}

/*	Nav Bar
	------------------------------------------------------------ */

.navbar {
	margin-bottom: 10px;
}

.navbar .navbar-inner {
	padding: 0 20px 0 20px;
}

.navbar .container {
	width: 100%;
}

/*	Container
	------------------------------------------------------------ */

.container-fluid {
	padding: 0;
}

.container-fluid > .content {
	margin-left: 0;
}

.container-fluid > .sidebar {
	right: 20px;
	float: right;
	left: inherit;
}

.container-fluid.has-sidebar > .content {
	margin-right: 240px;
}

/*	Navigation
	------------------------------------------------------------ */

#navigation {
	margin: 0px 20px 0px 20px;
}

#navigation .pills {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 20px;
}

#navigation.toolbar {
	margin: 0 0 20px 0;
}

#navigation.toolbar > li {
	float: left;
	list-style-type: none;
	margin-right: 10px;
}

#navigation.toolbar > li.pull-right {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

#navigation.toolbar > li a {
	display: block;
	line-height: 40px;
	height: 40px;
	padding: 0 20px 0 20px;
	border: 1px solid #DDDDDD;
}

#navigation.toolbar > li.no-link {
	display: block;
	line-height: 40px;
	height: 40px;
	padding: 0 20px 0 20px;
	border: 1px solid #DDDDDD;
}


/*	Paginator
	------------------------------------------------------------ */

.paginator {
	text-align: center;
}

.paginator, .paginator li { list-style-type: none; padding: 0; margin: 0; }

.paginator li {
	vertical-align: top;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;

	background-color: #F9F9F9;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
} .paginator li:first-child {
	border-left: 1px solid #DDD;
} .paginator li:last-child {
	border-right: 1px solid #DDD;
}

.paginator li.active {

}

.paginator li a {
	display: block;
	color: #000000;
	padding: 5px 10px 5px 10px;
}

.paginator li a:hover {
	background-color: #DDDDDD;
}

.paginator li.active a {
	background-color: #DDDDDD;
}

/*	Middle bar
	------------------------------------------------------------ */
.middlebar .nav {
	margin-bottom: 0;
}

/*	Error List
	------------------------------------------------------------ */

.container-fluid .content {
	padding: 20px 0;
	margin-bottom: 50px;
	background-color: #fff;
	border: 1px #DDD solid;
	border-width: 0 1px 1px 1px;
	width: 100%;
}

#information {
	padding: 0 20px;
}

.error-list {
	border: none;
}

.table tbody tr:hover td {
	background-color: inherit;
}

.error-list tbody tr td {
	cursor: pointer;
}

.error-list tbody tr.error-active td {
	background-color: #EEEEEE;
}

.error-list td {
	border: none;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}

#information a.error {
	display: block;
}

#information .detail {
	font-size: 11px;
	color: #aaa;
}

#information td.occurences {
	width: 60px;
	text-align: left;
}

#information td.date {
	text-align: right;
	white-space: nowrap;
}

#information .count {
	padding: 1px 6px;
	background-color: #f00;
	text-align: center;
	color: #fff;
}

#information tr.unseen .dot {
	background-color: #888;
}

#information .dot {
	background-color: #ddd;
	display: inline-block;
	height: 8px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	width: 8px;
	margin-right: 5px;
}

.ie7 #information .dot {
	display: inline;
}

/*	search box
	------------------------------------------------------------ */
.search {
	float: right;
	height: 32px;
	overflow: hidden;
	width: 215px;
}

.search input {
	width: 178px;
}


/*	Form
	------------------------------------------------------------ */

.content .login, .content .register {
	width: 500px;
	margin: 0 auto;
}

.content .login label, .content .register label {
	background-color: #fff;
}

.content form ul, .content form li { list-style-type: none; padding: 0; }

.content form ul {
	width: 400px;
	margin: 0 auto;
}

.content form {
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	padding: 10px;
	margin-top: 10px;
}
.content form fieldset {
	padding: 0;
	margin: 0 0 20px 0;
}

.content form .buttons {
	text-align: right;
}

.content form .buttons .submit {
	padding: 5px 14px 6px;
	background-color: #0064CD;
	background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #049CDB),color-stop(1, #0064CD));
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content form .buttons .submit:hover {
	background-image: -moz-linear-gradient(top, #0064CD, #049CDB);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0064CD),color-stop(1, #049CDB));
}

.content form textarea,
.content form input[type=text],
.content form input[type=password] {
	width: 400px;

}

.content form p.error {
	color: #B94A48;
}

/*	Labels
	------------------------------------------------------------ */

.label {
	padding: 3px 5px 3px 5px;
	text-transform: none;
}

/*	Pane
	------------------------------------------------------------ */

.pane {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 0 0px 7px 2px #DDDDDD;
}

.pane .ui-resizable-handle {
	top: -2px;
	height: 5px;
	cursor: row-resize;
}

.pane .pane-container {
	background-color: #FFFFFF;
	padding: 20px 20px 0 20px;
}

.pane .pane-container {
	display: none;
	height: 250px;
	overflow-y: scroll;
}

.pane.pane-open .pane-container {
	display: block;
}

.pane .pane-view {
	display: none;
	height: 100%;
}

.pane .pane-actions {
	padding-bottom: 5px;
	margin: 0;
	background-color: #FFFFFF;
}

.pane .pane-actions .pane-active a {
	text-decoration: none;
}

.summary-tags {
	position: absolute;
	right:30px;
	top:30px;
	width: 150px;
}

.tag-list {
	list-style-type: none;
	margin:0 0 4px 0;
}

.tag-list li {
	padding: 2px 0;
}

.tag-delete {
	cursor: pointer;
}

.navbar .logo {
	background-color: white;
	background: url(../img/triage.png);
	display: inline-block;
	float:left;
	margin-right: 5px;
	height:40px;
	width:40px;
}

/*	Order items
	------------------------------------------------------------ */

#order-items .desc i{
	background-position:-313px -119px;
}

#order-items .asc i{
	background-position:-288px -120px;
}
