<div class="pane-view pane-summary">
	<h3>{{error.message}}</h3>
	<h4>{{error.type}}</h4>
	<div class="summary">
		<dl>
			{% if instance.file %}
				<dt>File</dt>
				<dd>{{ instance.file }}</dd>
			{% endif %}
			{% if instance.line %}
				<dt>Line number</dt>
				<dd>{{ instance.line }}</dd>
			{% endif %}
			<dt>First occurance</dt>
			<dd>{{ date(error.timefirst, '%d %b %y, %I:%M%p', '%d %b %y, %I:%M%p') }}</dd>
			<dt>Latest occurance</dt>
			<dd>{{ date(error.timelatest, '%d %b %y, %I:%M%p', '%d %b %y, %I:%M%p') }}</dd>
			<dt>Number of occurances</dt>
			<dd>{{ error.count }}</dd>
		</dl>
	</div>
	<div class="summary-tags well">
		{% if error.claimedby %}
			{% if user == error.claimedby %}
				<button class="btn btn-warning unclaim-btn">Unclaim</button>
			{% else %}
				<span>Claimed by {{error.claimedby.name}}</span>
			{% endif %}
		{% else %}
			<button class="btn btn-primary claim-btn">Claim</button>
		{% endif %}
		<h5>Tags</h5>
		{% if error.tags %}
			<ul class="tag-list">
			{% for tag in error.tags %}
				<li><span class="label">{{tag}} 
					<i class="icon-remove icon-white tag-delete" data-tag="{{tag}}" title="Remove"></i>
				</span></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if user and tag_form %}
			<form method="post" class="tag-form">
			{% for f in tag_form %}
				{{ f.render()|safe }}
			{% endfor %}
			</form>
		{% endif %}
	</div>
</div>
<div class="pane-view pane-backtrace">
	<h3>Backtrace</h3>

	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Method</th>
				<th>File</th>
			</tr>
		</thead>
		<tbody>
			{% for row in instance.backtrace %}
				<tr>
					<td>
						{% if row.class %}{{ row.class }}::{% endif %}{% if row.function %}{{ row.function }}{% endif %}
					</td>
					<td>
						{% if row.file %}
							{{ row|github_link }}
						{% else %}
							-
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
<div class="pane-view pane-context">
	<h3>Context</h3>
	<table class="table table-striped table-condensed">
	{% if instance.context %}
		{% for key in instance.context %}
			<tr>
				<td>{{key}}</td>
				<td>{{ instance.context[key] }}</td>
			</tr>
		{% endfor %}
	{% endif %}
	</table>

</div>



<div class="pane-view pane-similar">
	<h3>Similar Errors</h3>
	<dl class="related-errors">
		{% for e in other_errors[:10] %}
			<dt><a href="{{ route_url('error_view', project=selected_project.id, id=e._id) }}">{{e.message}}</a></dt>
			<dd>{{ date(e.timecreated) }}</dd>
		{% endfor %}
	</dl>
</div>



<div class="pane-view pane-comments">
	<h3>Comments</h3>
	{% if error.comments %}
	<dl id="comments">
		{% for row in error.comments %}
			<dt class="comments-info">
				{{ row.author.name }} {{ date(row.created) }}:
			</dt>
			<dd class="comments-comment">
				{{ row.content }}
			</dd>
		{% endfor %}
	</dl>
	{% endif %}

	{% if user and comment_form %}
		{% for f in comment_form %}
			{{ f.render()|safe }}
		{% endfor %}
	{% endif %}

</div>
