<div class="pane-view pane-summary">
	<div class="summary">
		<h3>{{error.message}}</h3>
		<h4>{{error.type}}</h4>

		<ul>
			{% if error.file %}
				<li>
				<span class="title">File</span>
				{{ error.file }}
				</li>
			{% endif %}
			{% if error.line %}
				<li>
				<span class="title">Line number</span>
				{{ error.line }}
				</li>
			{% endif %}
			<li>
				<span class="title">First occurance</span>
				{{ date(error.timefirst, '%d %b %y, %I:%M%p', '%d %b %y, %I:%M%p') }}
			</li>
			<li>
				<span class="title">Latest occurance</span>
				{{ date(error.timelatest, '%d %b %y, %I:%M%p', '%d %b %y, %I:%M%p') }}
			</li>
			<li>
				<span class="title">Number of occurances</span>
				{{ error.count }}
			</li>
		</ul>
	</div>
	<div class="summary-tags">

		{% if error.claimedby %}
			{% if user == error.claimedby %}
				<a href="{{ route_url('error_toggle_claim', project=selected_project.id, id=error._id) }}" class="btn btn-warning btn-unclaim">
					<i class="icon-star-empty icon-white"></i> Unclaim</a>
			{% else %}
				<span>Claimed by {{error.claimedby.name}}</span>
			{% endif %}
		{% else %}
			<a href="{{ route_url('error_toggle_claim', project=selected_project.id, id=error._id) }}" class="btn btn-primary btn-claim">
				<i class="icon-star icon-white"></i> Claim</a>
		{% endif %}

		{% if error.hiddenby %}
			<a href="{{ route_url('error_toggle_resolve', project=selected_project.id, id=error._id) }}" class="btn btn-danger btn-reopen">
				<i class="icon-repeat icon-white"></i> Reopen</a>
		{% else %}
			<a href="{{ route_url('error_toggle_resolve', project=selected_project.id, id=error._id) }}" class="btn btn-success btn-resolve">
				<i class="icon-ok icon-white"></i> Resolve</a>
		{% endif %}

		<div class="tags-container well">
			<h5>Tags</h5>
			{% if error.tags %}
				<ul class="tag-list">
				{% for tag in error.tags %}
					<li>
						<span class="label">
							{{tag}}
							<a href="{{ route_url('error_tag_remove', project=selected_project.id, id=error._id, tag='') }}" class="icon-remove icon-white tag-delete" data-tag="{{ tag }}"></a>
						</span>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
			<form class="tag-form" method="POST" action="{{ route_url('error_tag_add', project=selected_project.id, id=error._id, tag='') }}">
				<input class="input-medium tag-field" type="text" name="tag" placeholder="Type tag &amp; press enter">
			</form>
		</div>
	</div>
</div>
<div class="pane-view pane-backtrace">
	<h3>Backtrace</h3>

	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Method</th>
				<th>File</th>
			</tr>
		</thead>
		<tbody>
			{% for row in error.backtrace %}
				<tr>
					<td class="method">
						{% if row.class %}{{ row.class }}::{% endif %}{% if row.function %}{{ row.function }}{% endif %}
					</td>
					<td>
						{% if row.file %}
							{{ row|github_link }}
						{% else %}
							-
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
<div class="pane-view pane-context">
	<h3>Context</h3>
	<table class="table table-striped table-condensed">
	{% if error.context %}
		{% for key in error.context %}
			<tr>
				<td>{{key}}</td>
				<td>{{ error.context[key] }}</td>
			</tr>
		{% endfor %}
	{% endif %}
	</table>

</div>



<div class="pane-view pane-similar">
	<h3>Similar Errors</h3>
	<ul class="related-errors">
		{% for e in error.instances[:10] %}
			<li>{{ date(e.timecreated) }} - {{e.message}}</li>
		{% endfor %}
	</ul>
</div>



<div class="pane-view pane-comments">
	<h3>Comments</h3>
	{% if error.comments %}
	<dl id="comments">
		{% for row in error.comments %}
			<dt class="comments-info">
				{{ row.author.name }} {{ date(row.created) }}:
			</dt>
			<dd class="comments-comment">
				{{ row.content }}
			</dd>
		{% endfor %}
	</dl>
	{% endif %}

	{% if user %}
		<form class="comment-form" method="POST" action="{{ route_url('error_comment_add', project=selected_project.id, id=error._id, tag='') }}">
			<textarea name="comment"></textarea>
			<input type="submit" name="submit" value="Submit" class="btn btn-primary btn-comment">
		</form>
	{% endif %}

</div>
