{% extends "layout/page.html" %}

{% block container %}

<div class="container-fluid has-sidebar">

	<div class="sidebar">
		<div class="well">

			{% block sidebar %}
			{% endblock %}

		</div>
	</div>

	<div class="content">

		{% block content %}{% endblock %}

	</div>
</div>

<div class="pane">

	<div class="pane-container">
		<div class="pane-handle"></div>
	</div>

	<ul class="pane-actions nav nav-pills">
		<li><a href="javascript:void(0)">Summary</a></li>
		<li><a href="javascript:void(0)">Backtrace</a></li>
		<li><a href="javascript:void(0)">Environment</a></li>
		<li><a href="javascript:void(0)">Comments</a></li>
	</ul>

</div>

{% endblock %}
