{% extends "layout/page.html" %}

{% block container %}

<div class="container-fluid has-sidebar">

	<div class="middlebar">
		{% block middlebar %}
		{% endblock %}
	</div>

	<div class="content">

		{% block content %}{% endblock %}

	</div>

</div>

<div class="pane">

	<div class="pane-container"></div>

	<ul class="pane-actions nav nav-pills">
		<li class="pane-action-summary"><a href="javascript:void(0);">Summary</a></li>
		<li class="pane-action-backtrace"><a href="javascript:void(0);">Backtrace</a></li>
		<li class="pane-action-context"><a href="javascript:void(0);">Context</a></li>
		<li class="pane-action-similar-errors"><a href="javascript:void(0);">Similar Errors</a></li>
		<li class="pane-action-comments"><a href="javascript:void(0);">Comments</a></li>
	</ul>

</div>

{% endblock %}
