{% extends "layout/base.html" %}

{% block body %}

	{% block topbar %}

		<header class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<span class="logo"></span>
					<a href="{{route_url('index')}}" class="brand">Triage</a>


					<ul class="nav">

						{% if available_projects %}

							<li id="project-menu" class="dropdown">
								<a class="dropdown-toggle" href="#project-menu">
									{{ selected_project.name }}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									{% for p in available_projects.itervalues() %}
										<li {% if p.id == selected_project.id %}class="active"{% endif %}>
											<a href="{{route_url('error_list', project=p.id)}}">{{ p.name }}</a>
										</li>
									{% endfor %}
								</ul>
							</li>

						{% endif %}

					</ul>

					<ul class="nav pull-right">

						{% if user %}
							<li><a href="{{route_url('admin_user')}}">Users</a></li>
							<li><a href="{{route_url('admin_project')}}">Projects</a></li>
							<li class="divider-vertical"></li>

							<li><a href="{{route_url('user_logout')}}">Logout {{ user.name }}</a></li>
						{% else %}
							<li><a href="{{route_url('user_login')}}">Login</a></li>
							<li><a href="{{route_url('user_register')}}">Register</a></li>
						{% endif %}

					</ul>
				</div>
			</div>
		</header>

	{% endblock %}

	{% block container %}{% endblock %}
	{% block footer %}{% endblock %}

{% endblock %}
